@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #fee302;
  --bgColor: #100918;
  --blur: #fee30290;
  --textColor: #ffffff;
  --navBlur: #10091880;
  /* --textColor: #ffffff; */
}




.animate{
  animation: infiniteScroll 50s linear infinite;
}
.animate2{
  animation: infiniteScroll2 50s linear infinite;
}

.loading{
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-color: #100918;
}
@keyframes infiniteScroll {
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);
  }
}
@keyframes infiniteScroll2 {
  0%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(0%);
  }
}